#------------------ common OS config files
.DS_Store
.Spotlight-V100
Thumbs.db
desktop.ini
#------------------ Jupyter
.ipynb_checkpoints
#------------------ directories to ignore
temp/
private/
__pycache__/
unpublished/
.obsidian/
#------------------ files to ignore
Erratas.md